    html{
      height: 100%;
      min-height:100%;
    }

    #bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-height:100%;
      
      z-index: -100;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
    }


    #center{
      position: absolute;
      width: 100%;
      top: 40%;
      text-align: center;
    }

    .social{
      position: fixed;
      left: 20px;
      top: 30px;
      z-index: 1;
      display: -webkit-flex;
      -webkit-flex-direction: column; /* Safari 6.1+ */
      display: flex;
      flex-direction: column;
    }

    .socialElement{
      filter: blur(1px);
      padding-left: 10px;

    }

    .socialElement:hover{
      filter: blur(0);
    }

    .box{
      margin-top: 50vh;
      background-color: #D9E0EA;
      box-shadow: 0 0 5vh #D9E0EA,
                  0 0 6vh #D9E0EA,
                  0 0 10vh #D9E0EA,
                  0 0 11vh #D9E0EA,
                  0 0 14vh #D9E0EA,
                  0 0 15vh #D9E0EA,
                  0 0 16vh #D9E0EA,
                  0 0 17vh #D9E0EA,
                  0 0 18vh #D9E0EA,
                  0 0 19vh #D9E0EA;
      border-width: 10px;
      width: 100%;
      height: auto;
    }

    .box:last-child{
      width: 100%;
      height: 50vh;
    }

    .whiteBox{
      background: #fff;
      width: 600px;
      height: auto;
      padding-top: 5px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      left: 0;
      right: 0;
      border-radius: 4px;
      box-shadow: 0px 0px 1px #888888;
    }

    @media only screen and (max-width: 600px) {
      .whiteBox{
        width: 100%;
        border-radius: 0px;
      }

      .social{
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-wrap: wrap;
      }

      h1{
        font-size: 6vw;
      }

      h2{
        font-size: 4vw;
      }
    }

    button {
      margin-top: 50px;
      border: none;
      cursor: pointer;
      outline: none;
    }

    button#playpausebtn {
      background: url(../img/Play.png) no-repeat;
      background-size: contain;
      width: 144px;
      height: 144px;
    }

    a{
      color: #fff;
      text-shadow:
        0 0 2px #37393D;
      text-decoration: none;

    }

    h1,h2,h3,p,a{
      font-family: 'Work Sans', Helvetica, Arial, sans-serif;
      font-weight: 600;
    }

    h1{
      color: #fff;
      text-shadow:
        0 0 2px #FFFFFF,
        0 0 10px rgba(255,214,59,0.9),
        0 0 20px rgba(255,214,59,0.7),
        0 0 30px rgba(255,214,59,0.5);
      font-size: 3vh;
      margin:0;
    }

    h2{
      color: #FFF;
      text-shadow:
        0 0 2px #FFF,
        0 0 5px rgba(118,137,176,0.5);
      font-size: 2em;
    }

    p{
      font-size: 1em;
      text-align: left;
      line-height: 1.4;
      color: #37393D;
      padding-left: 30px;
      padding-right: 20px;
      padding-bottom: 30px;
      padding-top: 10px;
    }
