html {
  height: 100%;
  min-height: 100%;
  background-color: rgb(217, 224, 234);
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#bgvid {
  position: fixed;
  z-index: -100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#bgvid > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 30px;
  font-size: 1.2em;
  line-height: 1.4;
  color: #d5dce8;
  max-width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #8888aa;
  word-break: break-all;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper {
  scrollbar-width: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  border: 2px outset hsla(47, 100%, 92%, 0.7);
  border-radius: 0.4em;
  background: rgba(217, 224, 234, 1);
  color: #90959e;
  box-shadow: 1px 2px 3px rgba(54, 56, 59, 0.25);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:active {
  border: 2px inset hsla(47, 100%, 92%, 0.7);
}

#restart {
  opacity: 0;
  transition: opacity 3s linear;
}

h1 {
  color: #fff;
  font-size: 3vh;
  margin: 0;
  text-shadow: 0 0 2px #fff, 0 0 10px rgba(255, 214, 59, 0.9),
    0 0 20px rgba(255, 214, 59, 0.7), 0 0 30px rgba(255, 214, 59, 0.5);
  transition: opacity 1s linear;
}

.pulse {
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 2px #fff, 0 0 10px rgba(255, 214, 59, 0.9),
      0 0 20px rgba(255, 214, 59, 0.7), 0 0 30px rgba(255, 214, 59, 0.5);
  }
  50% {
    text-shadow: 0 0 2px #fff, 0 0 10px rgba(255, 214, 59, 0.9);
  }
  100% {
    text-shadow: 0 0 2px #fff, 0 0 10px rgba(255, 214, 59, 0.9),
      0 0 20px rgba(255, 214, 59, 0.7), 0 0 30px rgba(255, 214, 59, 0.5);
  }
}
